.PageContent{
    padding: 0 12px;
    position: Absolute;
    left: 16%;
    top: 4px;
    background-color: #fff;
    border-radius: 4px;
    width: 81%;
    /*height: 100%;*/
    margin-bottom: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}