@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --ripple: #DAECF3;
    --cyprus: #022D41;
    --seafloor: #1AA6B7;
    --cush: #FE424D;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
html,body{
    overflow-x: hidden;
}
body{
    background-color: var(--grey);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}