.AppHeader {
    position: fixed;
    top: 4px;
    left: 15.5%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 12px;
    background-color: #fff;
    border-radius: 4px;
    width: 81.7%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.AppHeader h1 {
    font-size: 14px;
    
}