.package_body {
    box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 1.5rem;
    justify-content: center;
}

.package_body .package_card {
    padding: 20px;
    position: relative;
    z-index: 5;
}

.package_body .discount{
    z-index: 8;
    position: absolute;
    width: 85px;
    height: 55px;
    background-color: var(--danger);
    /*background-color: var(--primary);*/
    top: 50px;
    left: -13px;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.package_body .discountText {
    color: var(--dark);
    /*color: white;*/
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

.package_body .favoriteIcon {
    z-index: 8;
    position: absolute;
    width: 35px;
    height: 35px;
    color: #fff;
    top: 4%;
    right: 5%;
    bottom: 100%;
}

.package_body .Package_Img {
    width: 100%;
    height: 250px;
    border-radius: 6px 6px 0 0;
}

.package_body .packageDetails {
    /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
    box-shadow: #eee 0px 1px 2px 0px, #eee 0px 2px 6px 2px;
    background-color: #fff;
    height: 255px;
    margin-top: -7px;
    padding: 10px 20px 0;
    border-radius: 0 0 6px 6px;
} 

.packageDestination h1 {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 5px;
}

.packageDestination h2 {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    color: var(--dark);
}

.fees {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    font-size: 13px;
    font-weight: 500;
    color: var(--dark);
}

.fees .package_price span {
    float: right;
    font-size: 15px;
}

.package_price_del {
    text-decoration-line: line-through;
    margin-left: 5px;
}

.package_desc {
    height: 35px;
}

.package_body .package_card p {
    font-size: 13px;
    font-weight: 300;
    color: var(--dark);
    line-height: 18px;
}

.package_body .package_card .package_btn {
    color: var(--light);
    background-color: var(--primary);
    border: none;
    border-radius: 49px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    width: 130px;
    height: 35px;
    cursor: pointer;
    margin-top: 10px;
}

.package_body .package_card .package_btn:hover{
    background-color: #fff;
    border: 1px solid var(--primary);
    color: var(--primary);
}

/* Responsive on width 1317px */
@media(max-width:1317px) {
    .package_body .package_card .package_btn {
        margin-top: 20px;
    }
}

/* Responsive on width 1243px */
@media(max-width:1243px) {
    .packageDestination h1 {
        font-size: 18px;
    }
}

/* Responsive on width 1151px */
@media(max-width:1151px) {
    .packageDestination h1 {
        font-size: 16px;
    }
}

/* Responsive on width 1058px */
@media(max-width:1058px) {
    .packageDestination h1 {
        font-size: 15px;
    }
}


/* Responsive on width 1024px */
@media(max-width:1024px) {
    .package_body {
        padding: 20px;
        gap: 0rem;
    }

    .package_body .package_card {
        padding: 10px;
    }

    .package_body .packageDetails {
        height: 265px;
    }

    .package_desc {
        height: 50px;
    }

    .package_body .discount{
        width: 50px;
        height: 35px;
        left: -5px;
    }
    
    .package_body .discountText {
        font-size: 15px;
        padding-top: 7px;
    }
}

/* Responsive on width 960px */
@media(max-width:960px) {
    .packageDestination h1 {
        font-size: 14px;
    }
}

/* Responsive on width 768px */
@media(max-width:888px) {
    .package_body {
        grid-template-columns: repeat(2, 1fr); 
    }

    .packageDestination h1 {
        font-size: 18px;
    }
}

@media(max-width:720px) {
    .packageDestination h1 {
        font-size: 15px;
    }
}

/* Responsive on width 600px */
@media(max-width:620px) {
    .package_body {
        grid-template-columns: repeat(1, 1fr); 
        padding: 50px;
    }

    .package_banner .homeContent .grid {
        display: flex;
        flex-direction: column;
    }
    .package_body .discount{
        width: 85px;
        height: 55px;
        left: -20px;
    }
    
    .package_body .discountText {
        font-size: 20px;
        padding-top: 10px;
    }
}

/* Responsive on width 425px */
@media(max-width:425px) {
    .package_body {
        padding: 20px;
    }
}

/* Responsive on width 375px */
@media(max-width:375px) {
    .package_desc {
        display: none;
    }

    .package_body .packageDetails {
        height: 200px;
    }
}

