.SideMenu {
    position: fixed;
    top: 4px;
    left: 4px;
    width: 15%;
    height: 99%;
    border-radius: 4px;
    background-color: #fff;
    color: var(--dark);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sideMenuImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px 25px;
}

.sideMenuImage h3{
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
}

.sideMenuImage img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.SideMenuVertical {
    color: var(--dark);
}

/*
.SideMenuVertical li {
    background-color: var(--dark) !important;
    color: #fff;
}
*/

