.services {
    position: relative;
    height: fit-content;
    background-color: rgb(225, 225, 225);
}

/*.services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../images/maldives.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.7; 
    z-index: -99;
}*/


.services h1
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    color: #0a2342;
    text-shadow: 1px 1px 2px rgb(47, 47, 47);
}

.forservices
{
    display: grid;
    grid-template-columns: repeat(3,300px);
    justify-content: center;
    padding-bottom:1rem;
}

.forservices div:empty:nth-child(5)
{
 background-image: url('../../images/flightBooking.jpg');
 background-position: center;
 background-size: cover;
 /* transition: transform 0.3s ease; */
}
.forservices div:empty:nth-child(1)
{
 background-image: url('../../images/hotel-reservation-system.jpg');
 background-position: center;
 background-size: cover;
 /* transition: transform 0.3s ease; */
}
.forservices div:empty:nth-child(3)
{
 background-image: url('../../images/travel_insurence.jpg');
 background-position: center;
 background-size: cover;
 /* transition: transform 0.3s ease; */
}
/* .forservices div:empty:hover
{
    transform: scale(1.5);
} */
.forservices div
{
    background-color:white;
    height: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.forservices span
{
    font-size: 16px;
    font-weight: 600;
}
.forservices p
{
    font-size: 14px;
}
@media(max-width:935px)
{
    .forservices
    {
        display: grid;
        grid-template-columns: repeat(3,240px);
        justify-content: center;
    }
    .forservices span
    {
        font-size: 14px;
        font-weight: 600;
    }
    .forservices p
    {
        font-size: 12px;
    }

}
@media(max-width:755px)
{
    .forservices
    {
        display: grid;
        grid-template-columns: repeat(3,190px);
        justify-content: center;
    }
    .forservices span
    {
        font-size: 13px;
        font-weight: 600;
    }
    .forservices p
    {
        font-size: 11px;
    }

}
@media(max-width:610px)
{
    .forservices h1
    {
     margin-top: 1.8rem;
     font-size: 1.9rem;
     }
    .forservices
    {
        display: grid;
        grid-template-columns: repeat(3,120px);
        justify-content: center;
    }
    .forservices div 
    {
        height: 145px;
    }
    .forservices span
    {
        font-size: 13px;
        font-weight: 600;
    }
    .forservices p
    {
        font-size: 11px;
    }

}
@media(max-width:390px)
{
    .forservices
    {
        display: grid;
        grid-template-columns: repeat(2,120px);
        justify-content: center;
    }
    .forservices h1
    {
     margin-top: 1.6rem;
     font-size: 1.9rem;
     margin-bottom: 1rem;
     }
    .forservices div 
    {
        height: 145px;
    }
    .forservices span
    {
        font-size: 13px;
        font-weight: 600;
    }
    .forservices p
    {
        font-size: 11px;
    }

}