body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* :root {
  --light: #DAECF3;
  --primary: #1AA6B7;
  --dark: #022D41;
  --danger: #ffa500;
} */

/* :root {
  --light: #DAECF3;
  --primary: #1AA6B7;
  --dark: #04344b;
  --danger: #FFB100;
} */

/* #0a2342 
001C30*/
/* :root {
  --light: #fffdf7;
  --primary: #1AA6B7;
  --dark: #06283B;
  --danger: #FFB100;
} */

/* :root {
  --light: #fffdf7;
  --primary: #1AA6B7;
  --dark: #b19cd9;
  --danger: #69359c;
}  */

:root {
  --light: #fffdf7;
  --primary: #1AA6B7;
  --dark: #0a2342;
  --danger: #FFB100;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
