@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

:root {
  --light: #fffdf7;
  --primary: #1AA6B7;
  --dark: #0a2342;
  --danger: #FFB100;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}