:root {
  --light: #fffdf7;
  --primary: #1AA6B7;
  --dark: #0a2342;
  --danger: #FFB100;
  --grey: #333;
}

.blogs_page {
  background: #ecf0f3;
  margin: 0;
  padding: 10px;
  position: relative;
}

.blogs_page::before,
.blogs_page::after {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.blogs_page::after {
  top: auto;
  bottom: 1px;
}

.banner_blogs {
  margin: 0;
  background: linear-gradient(-260deg, var(--dark), var(--danger));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-left: 30px;
}

.blogs_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  background: #ecf0f3;
}

.blog_container {
  padding: 10px;
  margin: 20px;
  width: 350px;
  height: 400px;
  background: #ecf0f3;
  border-radius: 50px;
  transition: .5s;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.blog_container:hover {
  transform: translate(0px, -20px);
}

.blog_container .gallery_container {
  width: 100%;
  height: 50%;
  display: flex;
  border-radius: 50px 50px 0px 0px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icons_row {
  position: absolute;
  top: -4px;
  right: 10px;
  z-index: 1000;
  margin: 5px;
}

.icons_row .icon {
  margin-left: 10px;
  cursor: pointer;
  color: var(--grey);
}

.filled {
  color: red;
}

.outline {
  color: gray;
}

.gallery_container img.gallery_image {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border: 1px;
}

.blog_container .content {
  position: relative;
  margin: 35px 15px;
}

.blog_container .content .date {
  position: absolute;
  top: -70px;
  background: var(--danger);
  color: var(--dark);
  border-radius: 5px;
  height: 50px;
  width: 45px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  box-shadow: -2px -2px 5px rgba(80, 80, 80, 0.473), 3px 3px 5px rgba(80, 80, 80, 0.205);
  text-shadow: inset 10px 10px 15px rgba(255, 255, 255, 0.5);
}

.blog_container .content p {
  position: relative;
  font-size: 16px;
}

.blog_container .content p:first-child {
  margin-top: 0;
}

.blog_container .content .icons {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 5px;
  justify-content: space-evenly;
}

.blog_container .content .icons .row {
  color: black;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.blog_container .content .icons .row::before {
  position: absolute;
  content: '';
  width: 3px;
  height: 100%;
  background: #e0e6eb;
  margin-left: -45px;
}

.blog_container .content .icons .row:first-child::before {
  background: none;
}

.blog_container .content .location_icon .icon_wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  animation: locationIconAnimation 1s infinite alternate;
}

.blog_container .content .location_icon {
  color: var(--dark);
  font-weight: 600;
}

@keyframes locationIconAnimation {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-5px);
  }
}

.username_caption {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.username_caption p {
  margin: 0;
  font-size: 16px;
  color: var(--grey);
}

.username_caption .username {
  font-weight: bold;
  color: var(--dark);
}

.username_caption .caption {
  color: #666;
}

.heart_container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.heart_container .heart_icon {
  font-size: 22px;
  color: var(--danger);
  transition: transform 0.3s;
}

.heart_container span {
  font-weight: bold;
  color: var(--grey);
  font-size: 17px;
  margin-left: 3px;
}

.comments_icon {
  color: var(--grey);
}

.user_link {
  font-weight: bold;
  color: var(--dark); 
  text-decoration: none; 
  position: relative;
}

.user_link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--dark); 
  transition: width 0.4s ease-in-out;
}

.user_link:hover::after {
  width: 100%; 
}

/* Tablet and larger screens */
@media (min-width: 300px) {
  .blogs_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
  }
}

/* Larger screens */
@media (min-width: 793px) {
  .blogs_section {
    display: flex;
    justify-content: center;
  }

  .blogs_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Larger screens */
@media (min-width: 1200px) {
  .blogs_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
}

@media (min-width: 1560px) {
  .blogs_section {
    grid-template-columns: repeat(4, 1fr);
}
}