.addPackage_contianer {
    height: 100%;
    padding: 8px;
}

h1.addPackage_pageTitle { 
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    color: var(--dark);
    text-align: center;
}

.addPackageField {
    width: 75%;
    margin: auto;
    border: 0;
    border-radius: 14px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

h4.addPackage_Heading {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    color: var(--dark);
}

.packageInformation_container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.traveLDetails_container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.accommodation_container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.location_container {
    width: 35%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.packageName,
.packageDescription,
.packageImage,
.packagePrice,
.packageType,
.packageDate,
.packageDuration,
.packageCountry {   
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 15px;
}

.addPackage_contianer label {
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--dark);
}

.labelPR {
    padding-right: 43px;
}

.addPackage_contianer input[type='text'],
.addPackage_contianer input[type='date'],
.addPackage_contianer input[type='checkbox'],
select,
.addPackage_contianer textarea,
.addPackage_contianer input[type='number'] { 
    border-radius: 4px;
    border: 1px solid grey;
    padding-left: 7px;
    color: var(--dark);
}

.addPackage_contianer input[type='text'],
.addPackage_contianer input[type='date'],
.addPackage_contianer textarea,
.addPackage_contianer input[type='number'] { 
    width: 65%;
    height: 35px;
}

.addPackage_contianer textarea {
    height: 80px;
}

select {
    width: 75%;
    height: 35px;
}

.addPackage_contianer input[type='checkbox'] {
    margin-right: 8px;
}

.addPackage_contianer input[type='text']:focus,
.addPackage_contianer input[type='date']:focus,
select:focus,
.addPackage_contianer textarea:focus,
.addPackage_contianer input[type='number']:focus  { 
    outline: 0;
}

.addPackage_destinationInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: 300px;
}

.addPackage_activityInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.addPackageBtn {
    color: var(--light);
    background: rgb(15,76,102);
    background: linear-gradient(90deg, rgba(15,76,102,1) 0%, rgba(26,166,183,1) 1%, rgba(10,35,66,1) 100%);
    border: none;
    border-radius: 49px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: 10px;
    width: 130px;
    height: 35px;
    cursor: pointer;
    transition: transform .4s;
    margin-top: 10px;
}

/*
.addPackageBtn:hover{
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: white;
}
*/




