.dashbaord_content {
    height: 97vh;
    padding-right: 21px;
}

.dashboard_header {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}

.dashbaord_pageTitle { 
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 0.005em;
    color: var(--dark);
    text-align: left;
}

.dashbaord_widgets {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 10px;
    margin-bottom: 25px;
} 

.widget1 {
    background-color: var(--dark);
}

.widget2 {
    background-color: var(--primary);
} 

.widget3 {
    background-color: var(--danger);
}


.statistic_banner {
    display: grid;
    grid-template-columns: 68% 32%;
}

.statistic_section,
.statistic_table {
    width: 94%;
    background-color: white;
    border-radius: 12px;
    padding: 10px 20px;
    box-shadow: #eee 0px 1px 2px 0px, #eee 0px 2px 6px 2px;
    font-size: 14px;
    color: var(--dark);
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.statistic_table {
    width: 96%;
}

.statistic_banner_left {
    max-height: 350px;
    width:100%;
}

.statistic_head {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
}

.statistic_table {
    height: 250px;
    padding: 25px 0 25px 25px;
}

.statistic_heading,
.statistic_values {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.statistic_values {
    padding: 0.8em 0;
    margin-top: 15px;
}

.statistic_heading {
    font-weight: bold;
}

.statistic_banner_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardBanner_image {
    border-radius: 50px;
    width: 350px;
    height: 370px;
    margin-left: 25px;
}
    