.content {
    max-height: auto;
    max-width: auto;
}

.packageHeader {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    margin-bottom: 25px;
}

.Table_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Table_wrapper table { 
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 10px;
    white-space: nowrap;
    width: 1050px;
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.input_control {
    width: 15%;
    border-radius: 24px;
    background-color:#f0f0f0;
    display: grid;
    grid-template-columns: 80% 20%;
}

.rowName {
    width: 20%;
}

.rowCountry {
    width: 10%;
}

.rowType {
    width: 9%;
}

.packageHeader input[type='text'] {
    background-color:#f0f0f0;
    border-radius: 24px;
    color: var(--dark);
    padding-left: 16px;
    border: 0;
    font-weight: 500;
}

.packageHeader input[type='date'] {
    height: 35px;
    width: 15%;
    border-radius: 24px;
    background-color:#f0f0f0;
    color: var(--dark);
    padding: 0 10px;
    border: 0;
}

.packageHeader input:focus {
    outline: none;
}

.packageHeader input::placeholder {
    color: var(--dark);
}

.searchIcon {
    padding: 10px;
}

.Table_wrapper table thead {
    font-size: 16px;
    text-align: left;
    text-transform: capitalize;
}

.Table_wrapper table tr:hover {
    background-color: #f0f0f0;
}

.Table_wrapper table th,
.Table_wrapper table td {
    text-transform: capitalize; 
    cursor: pointer;
    padding: 0.8em;
}

.Table_wrapper table td {
    border-top: 0.5px solid #f0f0f0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.packageImg {
    border-radius: 50%;
    height: 60px;
    width: 60px; 
    transition: .2s linear;
}

.packageImg:hover {
    transform: scale(1.3);
}

.Table_wrapper .actions {
    display: flex;
    justify-content: space-around;   
}

.Table_wrapper .delete_btn, 
.Table_wrapper .edit_btn {
    text-transform: capitalize;
    color: var(--dark);
    font-size: 20px;
}

.Table_wrapper .delete_btn:hover, 
.Table_wrapper .edit_btn:hover {
    color: var(--primary);
}