.singlePackageDiv {
    box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.1);
} 

/* Banner */
.singlePackage_banner {
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light);
    padding: 0 40px;
    position: relative;
    isolation: isolate;
}

.singlePackage_banner::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: #fff;
    opacity:0.3;
}

.adventureBanner {
    background-image: url('../images/adventureBanner.jpeg');
    background-position: bottom center;
}

.historyBanner {
    background-image: url('../images/historyBanner.jpeg');
    background-position: center center;
}

.beachBanner {
    background-image: url('../images/beachBanner.jpg');
    background-position: bottom center;
}

.relaxBanner {
    background-image: url('../images/relaxBanner.jpg');
    background-position: center center;
}

.natureBanner {
    background-image: url('../images/natureBanner.jpeg');
}

.familyBanner {
    background-image: url('../images/familyBanner.jpg');
    background-position: bottom center;
}

.romanticBanner {
    background-image: url('../images/romanticBanner.jpeg');
    background-position: center center;
}

.combinationBanner {
    background-image: url('../images/combinationBanner.jpeg');
    background-position: center center;
}

.singlePackage_country {
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.singlePackage_title {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 700;
    margin: 5px 0;
}

.singlePackage_group {
    position: absolute;
    z-index: 5;
    left: 19%;
    margin: -35px auto 0;
    border-radius: 4px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 60%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.singlePackage_durationIcon,
.singlePackage_dateIcon,
.singlePackage_typeIcon,
.singlePackage_priceIcon {
    font-size: 40px;
    padding-bottom: 10px;
    
}

.singlePackage_group p {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 15px;
    font-weight: 600;
    color: var(--dark);
}

.singlePackage_group p:hover {
    color: var(--primary);
}

.singlePackage_button {
    position: fixed;
    z-index: 9999;
    right: 0;
    margin-right: 20px;
    bottom: 5%;
    width: 50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}
.singlePackage_button img {
    width: 90px;
    height: 90px;
}

.bookIcon {
    color: white;
    font-size: 25px;
}

.singlePackage_container_1 {
    margin-top: 180px;
    height: 360px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px 20px;
}

.dest_img {
    height: 350px;
}

.dest_img img {
    border-radius: 7px ; 
    height: 80%;
    margin: 20px 40px;
    width: 75%;
}

.dest_desc {
    display: flex;
    flex-direction: column;
    padding: 40px 40px 40px 0;
}

.singlePackage_description {
    text-align: justify;
    font-size: 15px;
    font-weight: 100;
    line-height: 28px;
    color: var(--dark);
}

p.companyLink {
    color: var(--danger);
}


/* Heading */
.singlePackageHeadingHotel,
.singlePackageHeadingDest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singlePackageHeadingHotel {
    margin: 80px;
}

.singlePackageHeadingDest {
    margin: 0 0 80px;
}

.dest_title,
.hotel_title {
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--primary);
}

.dest_subTitle,
.hotel_subTitle {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--dark);
}

.discoverCompanyBtn {
    margin-left: 15px;
    border: none;
    border-radius: 14px;
    padding: 10px 15px;
    background-color: var(--danger);
    color: white;
    font-size: 13px;
    letter-spacing: 0.05em;
    font-weight: bold;
    transition: 0.45s ease;
}

.discoverCompanyBtn:hover {
    transform: scale(1.1);
}

/* Destination */
.singlePackage_container_2 { 
    height: 400px;
    background: var(--dark);
    background-image: url('../images/photo17063547099-removebg-preview.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    display: grid;
    grid-template-columns: 30% 70%;
}

.dest_Container { 
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.destination {
    grid-template-columns: 100%;
    display: grid;
    gap: 43px;
    width: 60%;
    padding: 25px;
    height: 220px;
}

.twoDestinations,
.threeDestinations,
.FourDestinations {
    overflow-y: scroll;
}

.singlePackage_destinationBox {
    border-radius: 12px;
    background-color: var(--dark);
    color: #fff;
    box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
    width: 80%;
    height: 200px;
    padding: 10px 20px;
    position: relative;
}

.singlePackage_destinationBoxNum {
    z-index: 8;
    position: absolute;
    width: 60px;
    height: 60px;
    top: -14%;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.singlePackage_destinationBoxNumText{
    color: var(--light);
    font-size: 36px;
    font-weight: 500;
}

.destName {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    color: var(--danger);
}

.singlePackage_destinationActivity {
    font-size: 13px;
}

.singlePackage_destinationActivity b {
    font-size:16px
}

/* Hotel */
.singlePackage_container_3 {
    margin-bottom: 20px;
}

.hotel_Container {
    margin: 50px auto;
    width: 30%;
    padding-bottom: 50px;
}

.twoHotels {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    width: 60%;
    gap: 20px; 
}

.threeHotels {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin: 0 auto;
    width: 80%;
}

.FourHotels {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%; 
}

.hotelDetails {
    display: grid;
    grid-template-columns: 60% 40%; 
    margin: -15px auto 0;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
    background-color: #fff;
    border-radius: 4px;
    width: 80%;
} 

.twoHotels .hotelDetails {
    width: 80%;
}

.threeHotels .hotelDetails {
    width: 79%;
} 

.FourHotels .hotelDetails { 
    width: 78%;
}

.hotelRating p {
    float: right;
}

.hotel_star {
    /*padding: 0 2px;*/
    color: var(--danger);
}

.hotelInfo {
    color: var(--dark);
    font-weight: 500;
    text-transform: capitalize;
    font-size: 15px;
}

.singlePackage_addressIcon,
.singlePackage_hotelIcon {
    font-size: 17px;
}

.singlePackage_BtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 23px;
}



/* Responsive on width 1250px */
@media(max-width:1250px) {
    .hotelDetails {
        width: 79%;
    }
}


/* Responsive on width 1024px */
@media(max-width:1024px) {
    .singlePackage_container_1 {
        margin-top: 100px;
    }

    .dest_subTitle,
    .hotel_subTitle {
        font-size: 30px;
    }

    .dest_Container {
        margin-left: 80px;
    }

    .destination {
        width: 76%;
    }

    .hotel_Container {
        width: 40%;
    }

    .hotelDetails {
        width: 76%;
    }

    .twoHotels.hotel_Container,
    .threeHotels.hotel_Container,
    .FourHotels.hotel_Container {
        width: 80%;
    }

    .threeHotels,
    .FourHotels {
        grid-template-columns: 50% 50%;
        gap: 20px;
    }

    .twoHotels .hotelDetails, 
    .threeHotels .hotelDetails,
    .FourHotels .hotelDetails {
        width: 76%;
    }

    .hotelInfo {
        font-size: 12px;
    }
}

/* Responsive on width 950px */
@media(max-width:950px) {
    .dest_Container {
        height: 274px;
    }

    .destination {
        width: 80%;
        height: 274px;
    }

    .singlePackage_destinationBox {
        height: 216px;
    }

}

/* Responsive on width 900px */
@media(max-width:900px) {
    .singlePackage_destinationBox {
        width: 90%;
    }

}

/* Responsive on width 878px */
@media(max-width:878px) {
    .hotel_Container {
        width: 50%;
    }

    .hotelDetails {
        width: 78%;
    }

    .twoHotels.hotel_Container,
    .threeHotels.hotel_Container,
    .FourHotels.hotel_Container {
        width: 90%;
    }

    .hotelInfo {
        font-size: 14px;
    }
}

/* Responsive on width 825px */
@media(max-width:823px) {
    .hotelDetails {
        width: 73%;
    }

    .twoHotels.hotel_Container,
    .threeHotels.hotel_Container,
    .FourHotels.hotel_Container {
        width: 95%;
    }

    .twoHotels .hotelDetails, 
    .threeHotels .hotelDetails,
    .FourHotels .hotelDetails {
        width: 73%;
    }
}


/* Responsive on width 804px */
@media(max-width:804px) {
    .singlePackage_container_2 { 
        background-image: none;
        grid-template-columns: 100%;
    }

    .dest_Container {
        margin-top: 0;
    }

}

/* Responsive on width 768px */
@media(max-width:768px) {
    .twoHotels,
    .threeHotels,
    .FourHotels {
        grid-template-columns: 100%;
    }
    
    .hotel_Container,
    .twoHotels.hotel_Container,
    .threeHotels.hotel_Container,
    .FourHotels.hotel_Container {
        width: 70%;
    }

    .hotelDetails, 
    .twoHotels .hotelDetails, 
    .threeHotels .hotelDetails,
    .FourHotels .hotelDetails {
        width: 75%;
    }
}


/* Responsive on width 740px */
@media(max-width:740px) {
    .singlePackage_group p {
        font-size: 13px;
    }
}

/* Responsive on width 729px */
@media(max-width:729px) {
    .singlePackage_container_1 {
        margin-bottom: 10px;
    }
}

/* Responsive on width 700px */
@media(max-width:701px) {
    .singlePackage_container_3 {
        width: 70%;
        margin: auto;
    }

    .hotel_Container,
    .twoHotels.hotel_Container,
    .threeHotels.hotel_Container,
    .FourHotels.hotel_Container {
        width: 100%;
    }

    .hotelDetails, 
    .twoHotels .hotelDetails, 
    .threeHotels .hotelDetails,
    .FourHotels .hotelDetails {
        width: 75%;
    }
}

/* Responsive on width 694px */
@media(max-width:690px) {
    .singlePackage_group {
        left: 16%;
        width: 70%;
    }

    .singlePackage_group p {
        font-size: 13px;
    }

    .singlePackage_container_1 {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .dest_img img {
        width: 95%;
        margin: 40px 20px;
    }

    .dest_desc {
        padding: 20px;
    }

    .dest_subTitle,
    .hotel_subTitle {
        font-size: 26px;
        line-height: 24px;
    }
}

/* Responsive on width 600px */
@media(max-width:600px) {
    .singlePackage_group {
        left: 13%;
        width: 75%;
    }

    .singlePackage_container_3 {
        width: 80%;
        margin: auto;
    }

}

/* Responsive on width 570px */
@media(max-width:570px) {
    .dest_Container {
        height: 300px;
        margin-left: 0;
    }
    .singlePackage_destinationBox {
        height: 235px;
    }
}

/* Responsive on width 560px */
@media(max-width:560px) {
    .singlePackage_group {
        grid-template-columns: 50% 50%;
        padding: 10px;
        margin: -50px auto 0;
    }

    .singlePackage_group p{
        padding: 10px;
    }

    .singlePackage_container_1 {
        margin-top: 200px;
        padding: 0;
    }

    .singlePackageHeadingDest {
        margin: 40px;
    }
}

/* Responsive on width 476px */
@media(max-width:476px) {
    .singlePackage_title {
        font-size: 30px;
    }

    .singlePackage_container_3 {
        width: 100%;
    }
}

/* Responsive on width 425px */
@media(max-width:425px) {
    .singlePackageHeadingHotel {
        margin: 50px;
    }

    .singlePackage_title {
        font-size: 25px;
    }

    .destination {
        gap: 45px;
    }

}

/* Responsive on width 375px */
@media(max-width:375px) {
    .dest_subTitle,
    .hotel_subTitle {
        font-size: 20px;
    }

    .dest_Container {
        height: 320px;
    }

    .singlePackage_destinationBox {
        height: 260px;
    }
    .hotelDetails, 
    .twoHotels .hotelDetails, 
    .threeHotels .hotelDetails,
    .FourHotels .hotelDetails {
        width: 73%;
    }
}
/* Responsive on width 360px */
@media(max-width:360px) {
    .dest_Container {
        height: 340px;
    }

    .destination {
        height: 340px;
    }

    .singlePackage_destinationBox {
        height: 280px;
    }
}

/* Responsive on width 320px */
@media(max-width:320px) {
    .dest_Container {
        height: 355px;
    }

    .destination {
        height: 3505px;
    }

    .singlePackage_destinationBox {
        height: 300px;
    }
    .hotelDetails, 
    .twoHotels .hotelDetails, 
    .threeHotels .hotelDetails,
    .FourHotels .hotelDetails {
        width: 73%;
    }
}
